{% extends 'main/base.html' %}  
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <h1>Edit User Details</h1>
    {% if u_form and p_form %}
        <h2>User {{user.email}}</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}
