{% extends "main/base.html" %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.ticker }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.get_type_display }}</td>
                <td>{{ order.total }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}