{% extends "main/base.html" %}
{% block content %}
        <h1>Client: {{ user.first_name }} {{user.last_name}}</h1>
        <p>Portfolio: ${{ total_pnl|add:principal }}</p>
        <p>Total PnL: ${{ total_pnl }}</p>
        <p>Principal: ${{ principal }}</p>


        <!-- Add a canvas element to hold the chart -->
        <canvas id="myChart" style="width:80%;"></canvas>

        <table class="table">
            <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Average Buy Price</th>
                <th>Current Price</th>
                <th>Quantity</th>
                <th>PnL</th>
            </tr>
            {% for balance in balances %}
            <tr>
                <td>{{ balance.ticker }}</td>
                <td>{{ balance.name }}</td>
                <td>${{ balance.buy_price }}</td>
                {# Get the current price for the ETF #}
                <td>${{ balance.current_price }}</td>
                <td>{{ balance.quantity }}</td>
                {% if balance.pnl > 0 %}
                <td style="color: green; font-weight: bold; text-shadow: 0px 0px 1px rgba(92, 217, 41, 1);">+ ${{ balance.pnl }}</td>
                {% else %}
                <td style="color: red; font-weight: bold; text-shadow: 0px 0px 1px rgba(217, 41, 41, 1);">- ${{ balance.pnl }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

    <!-- Script will retrieve the portfolio PnL data and create the chart -->
    
<script>
    var pnlData = {{ pnl_data_json|safe }};
    var xyValues = pnlData.map(function(p) {
      return { x: p.date, y: p.pnl };
    });
  
    new Chart("myChart", {
      type: "line",
      data: {
        datasets: [{
          pointRadius: 4,
          pointBackgroundColor: "rgb(0,0,255)",
          data: xyValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          xAxes: [{
            type: "time",
            time: {
              unit: "day"
            }
          }],
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
  </script>
{% endblock content %}