{% extends "main/base.html" %}
{% block content %}
    <div id="container" style="width: 75%;">
        <canvas id="pie-chart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        var config = {
        type: 'pie',
        data: {
            datasets: [{
            data: {{ data|safe }},
            backgroundColor: [
                '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
            ],
            label: 'Population'
            }],
            labels: {{ labels|safe }}
        },
        options: {
            responsive: true
        }
        };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>


        <h1>Client: {{ user.first_name }} {{user.last_name}}</h1>
        <p>Portfolio</p>
        <table class="table">
            <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Average Buy Price</th>
                <th>Current Price</th>
                <th>Quantity</th>
                <th>PnL</th>
            </tr>
            {% for balance in balances %}
            <tr>
                <td>{{ balance.ticker }}</td>
                <td>{{ balance.name }}</td>
                <td>${{ balance.buy_price }}</td>
                {# Get the current price for the ETF #}
                <td>${{ balance.current_price }}</td>
                <td>{{ balance.quantity }}</td>
                {% if balance.pnl > 0 %}
                <td style="color: green; font-weight: bold; text-shadow: 0px 0px 1px rgba(92, 217, 41, 1);">+ ${{ balance.pnl }}</td>
                {% else %}
                <td style="color: red; font-weight: bold; text-shadow: 0px 0px 1px rgba(217, 41, 41, 1);">- ${{ balance.pnl }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
{% endblock content %}